body {
	font-family: "Times New Roman", Times, serif;
}

.coming-soon img{
	width: 3em;
}

.coming-soon a{
	color: black;
}

.coming-soon .btn-group-lg>.btn, .btn-lg {
	border-radius: 0px;
}

.navbar-light .navbar-brand{
	color: black;
}

.cw{
	color: gray;
}
