body {
	font-family: "Times New Roman", Times, serif;
}

.coming-soon img{
	width: 3em;
}

.landing-logo img{
	width: 5em;
}

.landing-button .btn-group-lg>.btn, .btn-lg {
	border-radius: 0px;
}

.landing-title{
	font-size: 2rem;
}

.landing-cw{
	color: gray;
}


.navbar-light .navbar-brand{
	color: black;
}

