<!DOCTYPE html>
<html class="h-100" lang='{{ page.lang | default: site.lang | default: 'en' }}'>
  {% include head.html %}
  <body class="h-100">


      <div class='container h-100 d-flex align-content-center flex-wrap'>

        <div class="row justify-content-center align-items-center w-100 m-0">
          <div class='col- col-sm-7 col-md-5 col-lg-4 text-center mb-3 landing-logo'>
            <img src="assets/virtualgoodsdealer_logo_color.png" />
          </div>
        </div>
        <div class="row justify-content-center align-items-center w-100 m-0">
          <div class='col- col-sm-7 col-md-5 col-lg-4 text-center landing-title mb-3'>
            "Deleted in 2020"
          </div>
        </div>
                <div class="row justify-content-center align-items-center w-100 m-0">
          <div class='col- col-sm-7 col-md-5 col-lg-4 text-center mb-3'>
            "Deleted in 2020" is a collection of images submitted by Instagram users. All the images in this exhibit were deleted off Instagram due to violations of community guidelines.
          </div>
        </div>
                <div class="row justify-content-center align-items-center w-100 m-0">
          <div class='col- col-sm-7 col-md-5 col-lg-4 text-center mb-3 landing-cw'>
            Content Warning: nudity, illustrated sexual content, self harm, blood
          </div>
        </div>

        <div class="row justify-content-center align-items-center w-100 m-0">
          <div class='col- col-sm-7 col-md-5 col-lg-4 text-center mb-3'>
            <a href="images" class="btn btn-outline-secondary btn-lg btn-block landing-button">Enter</a>
          </div>
        </div>
      </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>